.profile-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}
.profile-form{
    margin-top: 3rem;
    width: 50%;
    height: 80vh;
    margin-bottom: 5rem;
}
.profile-button{
    margin-right: 2rem;
}
.profile-button2{
    margin-left: 18rem;
}
.profile-button3{
    position: relative;
    left: 15rem;
}

@media only screen and (max-width: 600px) {
    .profile-form{
        position: relative;
        width: 100%;
        max-width: 90%;
        height: 100vh !important;
        bottom: 2rem;
        height: auto;
    }
    .profile-button{
        width: 100%;
        font-size: .8rem;
        margin-bottom: 1rem;
    }
    .signOutButton{
        width: 100%;
        font-size: .8rem;
        position: relative;
        margin: 0;
        margin-top: 2rem;
    }
    .profile-button3{
        width: 100%;
        font-size: .8rem;
        position: relative;
        margin: 0;
        left: 0;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px){
    .profile-form{
        width: 90%;  
    }
    .profile-button2{
        position: relative;
        left: 12.6rem;
    }
    .profile-button3{
        position: relative;
        left: 28rem;
    }
}
@media only screen and (min-width: 992px){
    .profile-form{
        width: 80%;
    }
    .profile-button2{
        position: relative;
        left: 2rem;
    }
    .profile-button3{
        position: relative;
        left: 17rem;
    }
}
@media only screen and (min-width: 1200px){
    .profile-form{
        width: 65%;
    }
    .profile-button2{
        position: relative;
        left: 1rem;
    }
    .profile-button3{
        position: relative;
        left: 15rem;
    }
}
@media only screen and (min-width: 1400px){
    .profile-form{
        width: 60%;
    }
    .profile-button2{
        position: relative;
        left: 5rem;
    }
    .profile-button3{
        position: relative;
        left: 20rem;
    }
}
@media only screen and (min-width: 1536px){
    .profile-form{
        width: 50%;
    }
    .profile-button2{
        position: relative;
        left: .8rem;
    }
    .profile-button3{
        position: relative;
        left: 15rem;
    }
}
@media only screen and (min-width: 1920px){
    .profile-form{
        width: 50%;
    }
    .profile-button2{
        position: relative;
        left: 12.6rem;
    }
    .profile-button3{
        position: relative;
        left: 28rem;
    }
}