.profile-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.profile-form{
    margin-top: 5rem;
    width: 50%;
    height: 60vh;
}
.profile-button{
    margin-right: 2rem;
    margin-top: 2rem;
}
.profile-button2{
    margin-top: 2rem;
    margin-left: 16.2rem;
}