.ticketTable{
    position: relative;
    margin-top: 10rem;
    width: 80%;
    left: 10%;
}
@media only screen and (max-width: 600px){
    .ticketTable{
        padding: 0;
        font-size: 0.6rem;
        width: 90%;
        left: 5%;
        
    }
    .danger-button{
        font-size: 0.5rem;
    }
    .ticketTable h3{
        font-size: small;
    }
}