.contactForm{
    width: 50%;
    height: auto;
    position: relative;
    top: 3rem;
}
.contactForm h1{
    color: #55c1ff;
}
.contactForm label{
    color: #ffffff;
}

.btn-dark{
    outline: none;
    border: none;
    background-color: #55c1ff;
    color: black;
    font-weight: 500;
}

.btn-dark:hover{
    background-color: #FF3999;
    color: black;
}
.bi-telephone-fill{
    position: relative;
    left: 28rem;
}