@media only screen and (max-width: 600px){
.card{
    background-color: var(--pink) ;
    color: whitesmoke;
    width: 15rem !important;
    font-size: 0.7rem;
    outline: none;
    border: none;
    position: relative;
    top: 2rem;
    left: 2rem;
    margin-bottom: 1.5rem; 
    overflow: hidden;
    cursor: pointer;
}
.card-title{
    font-size: 1rem !important;
}

.btn-light{
    position: relative;
    font-weight: 500;
    font-size: 0.6rem;
    left: 50%;
    
}

.card-img-top{
    width: auto;
    height: 10rem;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.comingCard{
    background-color: #FF007A;
}


}
@media only screen and (min-width: 768px){
.card{
    background-color: var(--purple);
    color: whitesmoke;
    width: 18rem !important;
    font-size: 0.7rem;
    outline: none;
    border: none;
    position: relative;
    top: 2rem;
    right: 0rem;
    margin-bottom: 4rem !important; 
    overflow: hidden;
    cursor: pointer;
}
.card:hover  .card-img-top{
    transform: scale(1.05);
    opacity: 0.5;
}
.card-title{
    font-size: 1rem;
}

.card-img-top{
    width: auto;
    height: 50vh;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.viewMovie{
    position: absolute;
    top: 11rem;
    left: 6.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: whitesmoke;
    display: none;
}
.card:hover .coming-trailer{
    display: block;
    transition: all 0.5s ease-in-out;
}
.comingCard{
    background-color: #FF007A;
}
}
.coming-trailer{
    position: absolute;
    bottom: 17rem;
    left: 5rem;
    font-size: 1rem;
    display: none;
}