@media only screen and (max-width: 600px) {
    .homepage-container {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 5.5rem;
        opacity: 1;
    }

    .homepage-content {
        position: relative;
        z-index: 2;
    }

    .learnMore {
        position: relative;
        width: 25vw;
        padding: 0.3rem;
        right: 1rem;
        background-color: #ff007a;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        top: 35rem;
        left: 8rem;
        font-size: 0.8rem;
        font-weight: 600;

    }
    .homepage-container .secondSection{
        position: relative;
        bottom: 5rem;
    }

    .homepage-container .secondSection h3{
        position: relative;
        left: 3rem;
    }
}
@media only screen and (min-width: 768px) {
    
    .homepage-container {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 5.5rem;
        opacity: 1;
    }
    .homepage-content {
        position: relative;
        z-index: 2;
    }

    .learnMore {
        position: relative;
        width: 10vw;
        padding: 0.3rem;
        right: 1rem;
        background-color: #715aff;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        top: 38rem;
        left: 68rem;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }

    .learnMore:hover{
        background-color: #121212;
        transform: scale(1.1);
    }
    .pre-loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d9d9d9;
        z-index: 10000;
    }
    .pre-loader h1{
        font-size: 3rem !important;
        letter-spacing: -2px;
        margin-top: 1rem ;
    }

    .cardHomepage{
        position: relative;
        right: 4rem !important;
    }
    .homepage-container .secondSection h3{
        position: relative;
        right: 2rem;
    }

}
