@media only screen and (max-width: 600px) {
    .homepage-container {
        width: 100%;
        height: 310vh;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 5.5rem;
        opacity: 1;
    }

    .homepage-content {
        position: relative;
        z-index: 2;
    }

    .learnMore {
        position: relative;
        width: 40vw;
        padding: 0.3rem;
        right: 2rem;
        background-color: #ff007a;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        top: 35rem;
        left: 6rem;
        font-size: 0.8rem;
        font-weight: 600;

    }
    .homepage-container .secondSection{
        position: relative;
        bottom: 5rem;
    }

    .homepage-container .secondSection h3{
        position: relative;
        left: 3rem;
    }
    .pre-loader{
        display: none;
    }
    .visionSection{
        position: relative;
        bottom: 7rem;
    }
    .visionSection span{
        font-size: 0.8rem;
        position: relative;
        left: 3rem;

    }
    .comingSection{
        position: relative;
        bottom: 7rem;   
    }
    .comingSection span{
        font-size: 0.8rem;
        position: relative;
        left: 3rem;

    }
    .campaignSection{
        position: relative;
        bottom: 4rem;
    }
    .campaignSection p{
        font-size: 0.8rem;
    }
    .cardpng{
        position: relative;
        width: 15rem !important;
    }
    .slick-prev {
        left: 10px; 
        z-index: 1; 
      }
      
      .slick-next {
        right: 10px; 
      }
      
      .slick-prev:before, 
      .slick-next:before {
        font-size: 24px; 
      }
}
@media only screen and (min-width: 768px) {
    
    .homepage-container {
        width: 100%;
        height: 400vh;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 5.5rem;
        opacity: 1;
    }
    .homepage-content {
        position: relative;
        z-index: 2;
    }

    .learnMore {
        position: relative;
        width: 15vw;
        padding: 0.3rem;
        right: 1rem;
        background-color: #715aff;
        color: whitesmoke;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        top: 45rem;
        left: 62rem;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    .learnMore:hover{
        background-color: #121212;
        transform: scale(1.1);
    }
    .pre-loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #121212;
        display: none;
        justify-content: center;
        align-items: center;
        color: #d9d9d9;
        z-index: 10000;
    }
    .pre-loader h1{
        font-size: 3rem !important;
        letter-spacing: -2px;
        margin-top: 1rem ;
    }

    .cardHomepage{
        position: relative;
        right: 4rem !important;
    }
    .homepage-container .secondSection h3{
        position: relative;
        right: 2rem;
    }
    .campaignForm{
        height: 70vh;
        padding: 3rem !important;
        margin-top: 1rem;
    }
    .cardpng{
        position: relative;
        left: 25rem;
        transition: all 0.5s ease-in-out;
    }
    .cardpng:hover{
       transform: skew(1deg);
       transform: scale(1.05);
       filter: drop-shadow(10px 0px 10px #202020);
    }
    .seeAll{
        position: relative;
        font-size: 1rem;
        left: 57rem;
        font-weight: 400;
        cursor: pointer;
    }

}

