.movie-detail {
    display: flex; 
    padding: 20px;
    gap: 20px; 
    position: relative;
    bottom: 2rem;
    width: 100%;
    left: 0rem;
}
.movie-title{
    position:relative;
    bottom: 1rem ;
    width: auto;
    left: 1rem;
    display: inline-block;
    z-index: 50;
}
.movie-image {
    width: 20%; 
    height: 20%;
    object-fit: cover;
    margin-right: 2rem;
}

.movie-info {
    flex: 1; /* Kalan alanı kaplar */
}

.movie-desc {
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
}

.movie-desc h5 {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.movie-buy-ticket{
    background-color: #FF007A;
    width: 15%;
    height: 5vh;
    color: white;
    outline: none;
    border: none;
    padding: 0px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
    top:25.5rem;
    right: 67%;

}
.movie-buy-ticket:hover{
    background-color: #715aff;
}

.selectionSeances{
    background-color: #121212;
    width: 12vw;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}
.trailer-embed{
    position: absolute;
    top: 14rem;
    left: 65%;
}
.rate-button{
    outline: none;
    border: none;
    position: relative;
    bottom: 10rem;
}
.rate-button:hover{
    background-color: #FF007A;
}
.ratingDetail{
    position: absolute;
    left: 8rem;
    font-weight: 500;
    bottom: 35.4rem;
}

.bi-heart-fill{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: #FF007A;
    cursor: pointer;
    position: relative;
    left: 64rem;
}