.scene {
    position: relative;
    width: 30%;
    height: 0.2rem;
    top: 1rem;
    left: 33rem;
    background-color: #a682ff;
}

.selectSeatAll {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
    bottom: 25rem;
    right: 15rem;
    margin-top: 10rem;
}

li {
    list-style: none;
}

.selected-seats-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    left: 50%;
    bottom: 2.3rem;
}

.buyTicket {
    background-color: #0095ff;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 20.5rem;
    left: 4.5rem;
    width: 10vw;
    font-size: 1rem;
}
.buyTicket:hover {
    background-color: #a682ff;
    color: #121212;
}
.selectedSeat {
    background-color: #0095ff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
.reservedSeat {
    background-color: #ff3999;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
.emptySeat {
    background-color: #9e9d9c;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
.seatInfoIcons {
    position: relative;
    left: 35rem;
    top: 0rem;
}
.select-ticket-type {
    background-color: #121212;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 34rem;
    left: 35rem;
    margin-right: 1rem;
}

.custom-datepicker {
    background-color: #ff3999;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: 60%;
    height: 2rem;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.custom-datepicker::placeholder {
    color: rgb(255, 255, 255);
}

.select-date-time {
    position: relative;
    left: 45rem;
    top: 27rem;
    width: 20%;
    height: 55vh;
}

.custom-select {
    background-color: #ff3999;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: 52%;
    height: 2rem;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.seatsAll {
    position: relative;
    left: 28rem;
}

@media only screen and (max-width: 600px) {
    .seatsAll {
        position: relative;
        left: 14.2rem;
        bottom: 10rem;
        width: 110% !important;
    
    }
    .scene {
        position: relative;
        width: 70%;
        height: 0.2rem;
        top: -9rem;
        left: 18rem;
        background-color: #a682ff;
    }
    .select-date-time {
        position: relative;
        left: 15rem;
        top: 40rem;
        width: 70%;
        height: 60vh;
    }
    .buyTicket {
        background-color: #0095ff;
        outline: none;
        border: none;
        color: white;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        top: 20.5rem;
        left: 4.5rem;
        width: 25vw;
        font-size: 1rem;
    }
    .custom-datepicker {
        background-color: #ff3999;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        width: 52%;
        height: 2rem;
        text-align: center;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    .titleSelect{
        position: relative;
        left: 15rem;
        bottom: 8rem;
    }
    .seatInfoIcons{
        position: relative;
        left: 15rem;
        top: -11rem !important;
    }
    
}
@media only screen and (min-width: 1200px){
   .titleSelect{
    position: relative;
    right: 12rem;
    bottom: 8rem;
   }
   .seatsAll{
    position: relative;
    bottom: 8rem;
   }
   .scene{
    position: relative;
    top: -100px;
    left: 510px;
    width: 30rem;
   }
   .seatInfoIcons{
    position: relative;
    top: -50px;
}
}