.scene {
    position: relative;
    width: 30%;
    height: 0.2rem;
    top: 1rem;
    left: 33rem;
    background-color: #a682ff;
}

.selectSeatAll {
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;
    align-items: center;
    bottom: 26rem;
    right: 15rem;
    margin-top: 18rem;
}

/* li {
    list-style: none;
} */

.selected-seats-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    left: 50%;
    bottom: 2.3rem;
}

.buyTicket {
    background-color: #0095ff;
    outline: none;
    border: none;
    color: white;
    padding: 0.6rem;
    border-radius: 0.6rem;
    position: absolute;
    top: 20.5rem;
    left: 4.5rem;
    width: 10vw;
    font-size: 1rem;
}
.buyTicket:hover {
    background-color: #a682ff;
    color: #121212;
}
.selectedSeat {
    background-color: #0095ff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    color: white;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}
.reservedSeat {
    background-color: #ff3999;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    color: white;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}
.emptySeat {
    background-color: #9e9d9c;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    color: white;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}
.seatInfoIcons {
    position: relative;
    left: 35rem;
    top: 0rem;
}

.custom-datepicker {
    background-color: #ff3999;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: 60%;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    
}
.custom-datepicker::placeholder {
    color: rgb(255, 255, 255);
}

.select-date-time {
    position: relative;
    left: 45rem;
    top: 20rem;
    width: 20%;
    height: 55vh;
}

.custom-select {
    background-color: #ff3999;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: 52%;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    backface-visibility: hidden;
}

.seatsAll {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0px; 
    justify-content: center; 
    padding: 0px;
    left: 30%;
}

.titleSelect{
    position: relative;
    left: 0rem;
}

.highQualityImg2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 105%;
    position: absolute;
    top: 0rem;
    right: 0;
    opacity: 0.1;
    filter: blur(1px);
    object-fit: cover;
    height: 110vh;
  }


  @media only screen and (max-width: 600px) {
    .selectSeatAll {
        position: absolute;
        bottom: 5rem;
        height: auto;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .seatsAll {
        position: absolute;
        left: 50%;
        bottom: 10rem;
        max-width: 90% !important;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        transform: translateX(-50%);
    }

    .scene {
        position: absolute;
        width: 70%;
        height: 0.2rem;
        top: -1rem;
        font-size: .8rem;
        left: 50%;
        background-color: #a682ff;
        transform: translateX(-50%);
    }

    .select-date-time {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        width: 80%;
        font-size: 0.8rem;
        height: 60vh;
        transform: translateX(-50%);
    }

    .buyTicket {
        position: absolute;
        width: auto;
        font-size: 0.8rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .custom-datepicker {
        background-color: #ff3999;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        max-width: 100%;
        width: 80%;
        height: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .titleSelect {
        position: absolute;
        left: 50%;
        font-size: 1rem;
        width: 100%;
        bottom: 25rem;
        transform: translateX(-50%);
        text-align: center;
    }

    .seatInfoIcons {
        position: absolute;
        font-size: .8rem;
        left: 50%;
        top: -4rem !important;
        max-width: 90%;
        transform: translateX(-50%);
    }

    .chooseSeat {
        position: absolute;
        left: 50%;
        top: -10rem;
        transform: translateX(-50%);
    }

    .selectedSeat,
    .reservedSeat,
    .emptySeat {
        width: 1rem;
        height: 1rem;
        border-radius: 0.3rem;
        color: white;
        margin: 0 0.6rem;
    }
}
@media only screen and (min-width: 768px){
   
}
@media only screen and (min-width: 992px){
    .selectSeatAll{
        bottom: 35rem;
        right: 25rem;
       }
        .seatsAll{
        position: relative;
        left: 28rem;
       }
       .scene{
        left: 38rem;
       }
       .seatInfoIcons{
        left: 35.5rem;
        top: 4rem;
       }
       .select-date-time{
        top: 30rem;
       }
       .custom-datepicker{
        width: 55%;
       }
       .buyTicket{
        width: auto;
        left: 3.2rem;
       }
       .titleSelect{
        left: 17rem;
       }
}
@media only screen and (min-width: 1200px){
    .selectSeatAll{
        bottom: 35rem;
        right: 20rem;
       }
        .seatsAll{
        position: relative;
        left: 28rem;
       }
       .scene{
        left: 36rem;
       }
       .seatInfoIcons{
        left: 35.5rem;
        top: 4rem;
       }
       .select-date-time{
        top: 30rem;
       }
       .custom-datepicker{
        width: 55%;
       }
       .buyTicket{
        width: auto;
        left: 4.5rem;
       }
       .titleSelect{
        left: 11rem;
       }
}
@media only screen and (min-width: 1400px){
    .selectSeatAll{
        bottom: 35rem;
       }
        .seatsAll{
        position: relative;
        left: 28rem;
       }
       .scene{
        left: 34rem;
       }
       .seatInfoIcons{
        left: 35rem;
        top: 4rem;
       }
       .select-date-time{
        top: 30rem;
       }
       .custom-datepicker{
        width: 58%;
       }
       .buyTicket{
        width: auto;
        left: 5.8rem;
       }
       .titleSelect{
        left: 4rem;
       }
}
@media only screen and (min-width: 1536px){
    .selectSeatAll{
        bottom: 35rem;
        right: 18rem;
       }
        .seatsAll{
        position: relative;
        left: 28rem;
       }
       .scene{
        left: 32rem;
       }
       .seatInfoIcons{
        left: 35rem;
        top: 4rem;
       }
       .select-date-time{
        top: 30rem;
       }
       .custom-datepicker{
        width: 63%;
        z-index: 50;
        position: relative;
       }
       .buyTicket{
        width: auto;
        left: 6.5rem;
       }
       .titleSelect{
        left: 0rem;
       }
       
}
@media only screen and (min-width: 1920px){
   .selectSeatAll{
    bottom: 35rem;
   }
    .seatsAll{
    position: relative;
    left: 40rem;
   }
   .scene{
    left: 41rem;
   }
   .seatInfoIcons{
    left: 48rem;
    top: 4rem;
   }
   .select-date-time{
    top: 30rem;
   }
   .custom-datepicker{
    width: 80%;
   }
   .buyTicket{
    width: auto;
    left: 9rem;
   }
   .titleSelect{
    left: 0rem;
   }
}