/* Büyük ekranlar için (768px üstü) */
.secondSectionVision {
    position: relative;
    margin-bottom: 10rem; /* Alt boşluk ekleme */
    margin-top: 10rem;
}

/* Orta ekranlar için (600px - 768px) */
@media only screen and (max-width: 768px) {
    .secondSectionVision {
        position: relative;
        right: 1rem; /* Sağa kaydırma */
        bottom: 10rem; /* Aşağı kaydırma */
        margin-bottom: 5rem; /* Alt boşluğu küçültme */
        text-align: center; /* Metin ortalama */
    }
    .secondSectionVision h3{
        position: relative;
        font-size: 1rem;
    }
}

/* Küçük ekranlar için (600px altı) */
@media only screen and (max-width: 600px) {
    .secondSectionVision {
        display: flex;
        justify-content: center; /* Yatayda ortalar */
        align-items: center;     /* Dikeyde ortalar */
        text-align: center;      /* Metni ortalar */
        margin: 0 auto;          /* Otomatik kenar boşluğu */
        width: 100%;             /* Tam genişlik */
        flex-direction: column;
        position: relative;
        top: 0rem;
        margin-bottom: 5rem;
    }
    .secondSectionVision h3{
        display: none;
    }
}
