.payment-complete-page{
    width: 50%;
    height: 100vh;
}

.e-ticket{
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    margin-right: 1rem;
}
.e-ticket:hover{
    background-color: #0095FF;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .payment-complete-page {
        max-width: 100%; 
        width: 85%;
        height: auto; /* Yüksekliği otomatik olarak ayarla */
        position: relative;
        bottom: 8rem;
    }
    
    .e-ticket {
        width: 100%; /* E-ticket butonunu tam genişlik yap */
        margin-right: 0; /* Margin'i kaldır */
        margin-bottom: 1rem; /* Alt boşluk ekle */
    }
   
}
