.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 5rem;
    height: auto;
}

.payment-container main {
    width: 100%;
    max-width: 1200px; 
}

.card, .form-check, .input-group {
    margin: 0 auto; 
}

.payment-container .row {
    justify-content: center; 
}

.col-md-5, .col-md-7 {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.exp-date {
    position: relative;
    right: 12.7rem;
}
.exp-date input {
    width: 24rem;
}
.cvv input {
    width: 24rem;
}

.compelete-button {
    position: relative;
    width: 23rem;
    left: 52rem;
    bottom: 5rem;
    border: none;
    outline: none;
    background-color: #0095FF !important;
}
.compelete-button:hover {
    background-color: #0095FF;
}

.ticket-details {
    position: relative;
    top: 3rem; 
}
small {
    color: white !important;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .payment-container{
        max-width: 90%;
    }
    .exp-date {
        position: relative;
        right: 0; /* Sağa kaymayı kaldır */
    }
    .exp-date input, .cvv input {
        width: 100%; /* Genişlikleri tam genişlik yap */
    }
    .btn-dark {
        width: 100%; /* Butonun genişliği tam genişlik olsun */
        left: 0; /* Soldan sıfırla */
        bottom: 1rem;
        font-size: .8rem; /* Butonu biraz yukarı al */
    }
    .ticket-details {
        top: 0; /* Yukarı kaydırmayı kaldır */
    }
    .payment-container{
        position: relative;
        bottom: 11rem;
    }
}

@media only screen and (min-width: 768px){
    .payment-container main{
        width: 80%;
        margin-top: 3rem;
    }
    .exp-date input, .cvv input {
        position: relative;
        width: 215%;
        left: 8rem; 
    }
    .cvv input{
        position: relative;
        left: 0rem;
    }
    .exp-date label{
        position: relative;
        left: 8rem;
    }
}
@media only screen and (min-width: 992px){
    .payment-container main{
        width: 80%;
        margin-top: 3rem;
    }
    .exp-date input, .cvv input {
        position: relative;
        width: 215%;
        left: 5rem; 
    }
    .cvv input{
        position: relative;
        left: 0rem;
    }
    .exp-date label{
        position: relative;
        left: 5rem;
    }
}
@media only screen and (min-width: 1200px){
    .payment-container main{
        width: 80%;
        margin-top: 3rem;
    }
    .exp-date input, .cvv input {
        position: relative;
        width: 215%;
        left: 3rem; 
    }
    .cvv input{
        position: relative;
        left: 0rem;
    }
    .exp-date label{
        position: relative;
        left: 3rem;
    }
}
@media only screen and (min-width: 1400px){
    .payment-container main{
        width: 80%;
        margin-top: 3rem;
    }
    .exp-date input, .cvv input {
        position: relative;
        width: 215%;
        left: 1rem; 
    }
    .cvv input{
        position: relative;
        left: 0rem;
    }
    .exp-date label{
        position: relative;
        left: 1.2rem;
    }
}
@media only screen and (min-width: 1536px){
    .payment-container main{
        width: 90%;
        margin-top: 3rem;
    }
    .exp-date input, .cvv input {
        position: relative;
        width: 215%;
        left: 0rem; 
    }
    .cvv input{
        position: relative;
        left: 0rem;
    }
    .exp-date label{
        position: relative;
        left: 0;
    }
}
@media only screen and (min-width: 1920px){
    .payment-container main{
        width: 100%;
        margin-top: 3rem;
    }
    .exp-date input, .cvv input {
        position: relative;
        width: 215%;
        left: 0rem; 
    }
    .cvv input{
        position: relative;
        left: 0rem;
    }
    .exp-date label{
        position: relative;
        left: 0;
    }
}