@media only screen and (max-width: 600px){
.card{
    background-color: var(--purple) !important;
    color: whitesmoke;
    max-width: 15rem;
    height: auto;
    outline: none;
    border: none;
    position: relative;
    top: 0rem;
    left: 1rem !important;
    margin-bottom: 2rem !important;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

.card-title{
    font-size: 1rem !important;
    margin: 0;
    padding: 0s;
    z-index: 200;
    position: relative;
}

.btn-light{
    position: relative;
    font-weight: 500;
    font-size: 0.6rem;
    left: 50%;
    
}

.card-img-top{
    width: auto;
    height: 80% !important;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}


}
@media only screen and (min-width: 768px){
.card{
    background-color:var(--purple) ;
    color: whitesmoke;
    width: 18rem !important;
    font-size: 0.7rem;
    outline: none;
    border: none;
    position: relative;
    top: 2rem;
    right: 0rem;
    margin-bottom: 4rem !important; 
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.card:hover  .card-img-top{
    transform: scale(1.05);
    opacity: 0.5;
}
.card-title{
    font-size: 1rem;
}

.card-img-top{
    width: auto !important;
    height: 25rem !important;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.viewMovie{
    position: absolute;
    top: 11rem;
    left: 6.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: whitesmoke;
    display: none;
}
.card:hover .viewMovie{
    display: block;
}

.card:hover{
    transform: translateY(-10px);
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.image-card {
    width: 50% !important;
    height: 35vh !important;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.image-card:hover{
    transform: scale(1.1);
}

}