@media only screen and (max-width: 600px){
.navbar{
    position: relative;
    right: 0rem;
    background-color:#171a1d!important;
    z-index: 8;
    bottom: 1rem;
    color: whitesmoke;
    width: 105vw;
}
.brand h2{
    position: relative;
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem;
    left: 1.5rem;
    top: 1.8rem;
    letter-spacing: -2px;
}
.bi-list{
    position: relative;
    color: whitesmoke;
    font-size: 2rem;
    top: 0.4rem;
    right: 2.5rem;
    transition:  all 0.3s ease-in-out;
    display: flex;
}
.bi-list:hover{
    transform: scale(1.1);
}
.menu{
    width: 100%;
    height: 100vh;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu.active {
    display: flex;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    padding: 3%;
    position: relative;
    bottom: 3rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.menu a:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: #FF007A;
}
.Navmenu{
    display: none;
}
}
@media only screen and (min-width: 768px){
.navbar{
    position: fixed;
    right: 0rem;
    width: 100vw;
    background-color:#171a1d !important;
    z-index: 8;
    bottom: 40.6rem;
    color: whitesmoke;
}
.brand h2{
    position: relative;
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem;
    left: 3rem;
    top: 1.3rem;
    letter-spacing: -2px;
    cursor: pointer;
}
.bi-list{
   display: none;
}
.menu{
    display:none;
}
.Navmenu{
    position: fixed;
    display: flex;
    bottom: 42rem;
    left: 26rem;
    z-index: 11;
}
.Navmenu a{
    justify-content: space-between;
    margin-right: 5rem ;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Navmenu a:hover{
    color: #FF3999;
}
.bi-person-fill{
    position: relative;
    left: 18rem;
    font-size: 1.3rem;
}
.adminButton{
    position: relative;
    bottom: 0.3rem;
    left: 4rem;
    outline: none;
    background: none;
}

}

@media only screen and (min-width: 992px){
    .navbar{
        position: fixed;
        right: 0rem;
        width: 100vw;
        background-color:#171a1d !important;
        z-index: 8;
        top: 0rem;
        color: whitesmoke;
        height: 15vh;
    }
    .Navmenu{
        position: fixed;
        top: 2.8rem;
        left: 30rem;
    }
}
