.navbar {
    position: relative;
    right: 0rem;
    width: 100vw;
    z-index: 8;
    bottom: 40.6rem;
    color: whitesmoke;
}
.brand h2 {
    position: relative;
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem;
    left: 2rem;
    top: 1.5rem;
    letter-spacing: -2px;
    cursor: pointer;
}
.bi-list {
    display: none;
}
.menu {
    display: none;
}
.Navmenu {
    position: relative;
    display: flex;
    bottom: 48rem;
    left: 26rem;
    z-index: 11;
}
.Navmenu a {
    justify-content: space-between;
    margin-right: 5rem;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Navmenu a:hover {
    color: #ff3999;
}
.bi-person-fill {
    position: absolute;
    left: 52rem;
    font-size: 1.3rem;
}
.adminButton {
    position: relative;
    font-size: 1.2rem;
    bottom: 0rem;
    right: 13.5rem !important;
    outline: none;
    background: none;
}


@media only screen and (max-width: 991px) {
    .navbar {
        position: relative;
        right: 0rem;
        background-color: var(--dark-gray) !important;
        z-index: 8;
        bottom: 1rem;
        color: whitesmoke;
        width: 105vw;
    }
    .brand h2 {
        position: relative;
        font-size: 1.5rem;
        width: 8rem;
        height: 4rem;
        left: 1.5rem;
        top: 1.8rem;
        letter-spacing: -2px;
    }
    .bi-list {
        position: relative;
        color: whitesmoke;
        font-size: 2rem;
        top: 0.4rem;
        right: 3rem;
        transition: all 0.3s ease-in-out;
        display: flex;
    }
    .bi-list:hover {
        transform: scale(1.1);
    }
    .menu {
        width: 100%;
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    .menu.active {
        display: flex;
    }
    .menu a {
        text-decoration: none;
        color: #ffffff;
        padding: 3%;
        position: relative;
        bottom: 3rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .Navmenu {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
   .navbar {
        position: relative;
        right: 0rem;
        background-color: var(--dark-gray) !important;
        z-index: 8;
        bottom: 1rem;
        color: whitesmoke;
        width: 105vw;
        left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        position: relative;
        right: 6rem;
        width: 80vw;
        z-index: 8;
        top: 2rem;
        left: 10%;
        color: whitesmoke;
        height: 10vh;
        border-radius: 1rem;
        opacity: 1;
        background: rgba(0, 0, 0, 0.7) !important;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(5px);
    }
    .Navmenu {
        position: relative;
        top: 3.6rem;
        left: 28rem;
    }
    .Navmenu a {
        position: relative;
        right: 12rem;
        margin-right: 2rem;
        bottom: 4.8rem;
    }
    .ticket-icon{
        position: relative;
        left: 14.2rem;
        top: 4.8rem;
    }
    .spinner-icon{
        position: relative;
        left: 9rem;
        top: 4.8rem;
    }
    .bi-person-fill {
        top: 0;
        left: -4rem;
    }
}
@media only screen and (min-width:1200px){
    .navbar{
        left: 10%;
    }
    .Navmenu {
        position: relative;
        top: 3.5rem;
        left: 30rem;
    }
    .Navmenu a {
        position: relative;
        right: 5rem;
        bottom: 5rem;   
    }
    .brand h2{
        top: 1.3rem;
    }
    .bi-person-fill {
        top: 0rem;
        left: -2rem;
    }
    .ticket-icon{
        top: 5rem;
        left: 9rem;
    }
    .spinner-icon{
        top: 5rem;
        left: 3rem;
    }
}
@media only screen and (min-width:1400px){
    .navbar{
        left: 10%;
    }
    .Navmenu {
        position: relative;
        top: 3.5rem;
        left: 30rem;
    }
    .Navmenu a {
        position: relative;
        right: 1rem;
        bottom: 5rem;   
    }
    .brand h2{
        top: 1.3rem;
    }
    .bi-person-fill {
        top: 0rem;
        left: 5rem;
    }
    .ticket-icon{
        top: 5rem;
        left: 12rem;
    }
    .spinner-icon{
        top: 5rem;
        left: 6rem;
    }
}
@media only screen and (min-width:1536px) {
    .navbar{
        left: 10%;
    }
    .Navmenu {
        position: relative;
        top: 3.5rem;
        left: 30rem;
    }
    .Navmenu a {
        position: relative;
        right: 1rem;
        bottom: 4.5rem;   
    }
    .brand h2{
        top: 1rem;
    }
    .bi-person-fill {
        top: 0rem;
        left: 10rem;
    }
    .ticket-icon{
        top: 4.5rem;
        left: 16rem;
    }
    .spinner-icon{
        top: 4.5rem;
        left: 10rem;
    }
}
@media only screen and (min-width:1920px) {
    .navbar{
        left: 10%;
    }
    .Navmenu {
        position: relative;
        top:4rem;
        left: 30rem;
    }
    .Navmenu a {
        position: relative;
        left: 10rem;
        bottom: 5.5rem;   
    }
    .brand h2{
        top: 1.3rem;
    }
    .bi-person-fill {
        left: 20rem;
    }
    .ticket-icon{
        top: 5.5rem;
        left: 15rem;
    }
    .spinner-icon{
        top: 5.5rem;
        left: 8rem;
    }
}