.NavmenuAdmin {
    position: fixed;
    display: flex;
    top: 2.4rem;
    left: 12rem;
    z-index: 11;
}
.NavmenuAdmin a {
    position: relative;
    top: 1.2rem;
    left: 20rem;
    justify-content: space-between;
    margin-right: 2rem;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.NavmenuAdmin a:hover {
    color: #ff007a;
}
.signOutButton {
    position: relative;
    left: 33rem;
    top: 1rem;
}
.brandAdmin h2 {
    position: relative;
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem !important;
    left: 2rem;
    top: 1rem;
    letter-spacing: -2px;
    cursor: pointer;
}
@media only screen and (min-width:768px) {
    
}
@media only screen and (min-width:992px) {
    .NavmenuAdmin{
       
        left: 0rem;
        font-size: .8rem;
    }
    .signOutButton{
        left: 22rem;
        font-size: .8rem;
    }
}
@media only screen and (min-width:1200px) {
    .NavmenuAdmin{
        font-size: 1rem;
        left: 2rem;
    }
    .signOutButton{
        left: 27rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width:1400px) {
    .NavmenuAdmin{
      
        left: 10rem;
    }
    .signOutButton{
        left: 30rem;
    }
}
@media only screen and (min-width:1536px) {
    .NavmenuAdmin{
        left: 15rem;
    }
    .signOutButton{
        left: 32rem;
    }
}
@media only screen and (min-width:1920px) {
    .NavmenuAdmin{
        left: 25rem;
    }
    .signOutButton{
        left: 42rem;
    }
}