.NavmenuAdmin{
    position: fixed;
    display: flex;
    top: 2.4rem;
    left: 12rem;
    z-index: 11;
}
.NavmenuAdmin a{
    justify-content: space-between;
    margin-right: 2rem ;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.NavmenuAdmin a:hover{
    color: #FF007A;
}
.signOutButton{
    position: relative;
    left: 38rem;
    bottom: 0.5rem;
}